<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%highlight{[%d{HH:mm:ss}] [%level] [%logger{1}] %msg%n}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console" />
        </Root>
        <Logger name="javafx.scene.focus" level="OFF" />
        <Logger name="com.sun.jna" level="OFF" />
    </Loggers>
</Configuration>
